table.standing {
    border-collapse: collapse;
}

table.standing th {
    padding: 8px 5px;
    border-width: 5px;
    border-color: crimson;
    border-style: dashed groove none dotted;
}

table.standing td {
    border: 1px solid coral;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.standing > tbody > tr:nth-child(n + 1):nth-child(-n + 4) > td {
    border: 3px solid blanchedalmond;
}

table.standing > tbody > tr:nth-last-child(-n + 3) > td {
    border: 1px dashed lightslategray;
}