body {
    background-color: #404040;
    color: white;
}

a {
    color: hotpink;
}

button {
    font-size: large;
    height: 2em;
}

label {
    padding: 0 5px 0 3px;
}

td {
    font-size: 1em;
}

div.menu {
    background: silver;
    margin: 0;
    padding: 0;
}

img.logo {
    width: 50px;
    height: 50px;
}

img.teamIcon {
    width: 29px;
    height: 29px;
}

.flex {
    display: flex;
    align-items: stretch;
}

.flexR {
    flex-direction: row;
}

.flexC {
    flex-direction: column;
}

.fxJctxSB {
    justify-content: space-between;
}

.txtC {
    text-align: center;
}

.number {
    text-align: right;
    min-width: 35px;
    padding-right: 5px;
}

.vs {
    text-align: center;
    padding: 0 10px;
}